<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lasagna Mail</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="centered main-content">
        <h2>Id: <code>{{.Id}}</code></h2>
        <h2>From: <code>{{.Sender}}</code></h2>
        <h2>Subject: <code>{{.Subject}}</code></h2>
        <iframe srcdoc="{{.Body}}"></iframe>
    </div>
</body>

</html>