<!DOCTYPE html>
<html>

<head>
    <title>Lasagna Mail</title>
    <link href="https://bootswatch.com/5/slate/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>Currently showing mail for {{.Address}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">From</th>
                <th scope="col">Subject</th>
                <th scope="col">Date</th>
            </tr>   
        </thead>
        <tbody id="table-body">

        </tbody>
        <script>
            const tableBody = document.getElementById('table-body');

            check();

            setInterval(check, 1000);

            function check() {
                fetch('/api/inbox/{{.Address}}')
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        tableBody.innerHTML = '';
                        data["emails"].forEach((email) => {
                            tableBody.innerHTML += `
                                <tr>
                                    <td><a href="/inbox/email/${email.Id}">${email.Id}</a></td>
                                    <td>${email.Sender}</td>
                                    <td>${email.Subject}</td>
                                    <td>${email.CreatedAt}</td>
                                </tr>
                            `;
                        });
                    });
            }
        </script>
</body>

</html>