<!DOCTYPE html>
<html>

<head>
    <title>Lasagna Mail</title>
    <link href="https://bootswatch.com/5/slate/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div style="height: 100vh">
                <div class="h-100 d-flex justify-content-center vstack">
                    <div class="card text-center align-self-center border-0" style="padding:10px;margin:10px;background-color:#424549;">
                        <div class="card-body">
                            <img class="card-img-top" alt="logo" src="/assets/images/logoandtext.svg">
                            <h2>{{.Address}}</h2>
                            <a href="/inbox/{{.Address}}" class="btn btn-primary">Get Emails</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>