<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lasagna Mail</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="centered main-content">
        <img class="logoandtext" alt="logo" src="../assets/images/logoandtext.svg" width="400px" height="400px">
        <div class="select-container">
            <select id="domainSelect">
                {{with .Address}}
                    <option value="{{.}}@{{(index $.Domains 0)}}">{{.}}@{{(index $.Domains 0)}}</option>
                    {{range $.Domains}}
                        {{if ne . (index $.Domains 0)}}
                            <option value="{{$.Address}}@{{.}}">{{$.Address}}@{{.}}</option>
                        {{end}}
                    {{end}}
                {{end}}
            </select>
        </div>

        <a id="inboxButton" class="custom-button" href="/inbox/{{.Address}}@{{(index .Domains 0)}}">View Inbox</a>
    </div>
    <script>
        document.getElementById("domainSelect").addEventListener("change", function() {
            document.getElementById("inboxButton").href = "/inbox/" + this.value;
        });
    </script>
</body>

</html>